::-webkit-scrollbar-thumb {
    background: #b9929f;
  }
  @import url('https://fonts.googleapis.com/css2?family=Dokdo&family=East+Sea+Dokdo&family=Indie+Flower&family=Nanum+Pen+Script&family=Water+Brush&display=swap');
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.uploadTitle{
    position: relative;
    top:150px;
    textAlign:center;
    marginBottom:2rem;
    font-family: 'SuncheonB';
   

   
}

.MainPosition{
    position:relative;
    top:50px;
}
.detailPosition{
    font-family: 'SuncheonB';
    position: relative;
    top:50px;
}
/* .UserCartPosition{
    position: absolute;
    top:150px;
    left: 50px;
    display: flex;
    justify-content: center;
    
} */
.EmptyPosition{
    position: relative;
    top:150px;
}
.Mainpanel-margin{
    margin-top: 30px;
}
body{
    background:#9F814F
}

.history_text{
    font-family: 'Yeongdo-Rg';
}
.Main_text{
    font-family: 'SuncheonB';
}

.It_text{
    font-family: 'SuncheonB';
    font-size: 30px;
}
/* input{
    outline: none;
    background-color: #b9929f;
    border: none;
    
    margin-top: 10px;
} */


 
  /* ::-webkit-scrollbar-thumb {background-color: #b9929f ;border-radius:10px;}
  .dropzone {
    width : 100%;
    height : 20%;
    border : 1px solid black;
  } */
  .desc {
    font-weight: bold;
    font-size: 70px;
    color: #b9929f;
    left: 50%;
  }
  @font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChusaLove';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/ChusaLove.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
  .desc2 {
    font-weight: bold;
    font-size: 60px;
    color: #9c528b;
    right: 50%;
    font-family: 'SuncheonB';
  }
  .desc3 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color:  #b9929f;
    opacity: 1;
  }